<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="MongrelDB PHP Client Test Suite">
            <file>tests/AdversarialTest.php</file>
            <file>tests/AdversarialTest2.php</file>
            <file>tests/AdversarialTest3.php</file>
            <file>tests/AdversarialTest4.php</file>
            <file>tests/PersistentSharingTest.php</file>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
